body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:310px;
  top:1060px;
  width:300px;
  height:40px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#868686;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:1010px;
  width:1680px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:1676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:692px;
  top:1021px;
  width:297px;
  height:25px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D4240D;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:53px;
  color:#D7D7D7;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:53px;
}
#u9 {
  position:absolute;
  left:2px;
  top:19px;
  width:1676px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:23px;
  top:10px;
  width:117px;
  height:34px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#D4240D;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1466px;
  top:11px;
  width:200px;
  height:30px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:#F2F2F2;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#797979;
  text-align:left;
}
#u13 {
  position:absolute;
  left:1117px;
  top:-2px;
  width:190px;
  height:57px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#D4240D;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:57px;
}
#u14 {
  position:absolute;
  left:2px;
  top:18px;
  width:186px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1640px;
  top:16px;
  width:20px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1337px;
  top:10px;
  width:31px;
  height:31px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1052px;
  top:10px;
  width:31px;
  height:31px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:8px;
  top:705px;
  width:102px;
  height:37px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:37px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:306px;
  top:271px;
  width:200px;
  height:68px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:68px;
}
#u24 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1205px;
  top:811px;
  width:125px;
  height:125px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u26 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1055px;
  top:811px;
  width:125px;
  height:125px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u28 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:905px;
  top:811px;
  width:125px;
  height:125px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u30 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:461px;
  top:826px;
  width:50px;
  height:50px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:461px;
  top:676px;
  width:50px;
  height:50px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:461px;
  top:539px;
  width:50px;
  height:50px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:376px;
  top:363px;
  width:135px;
  height:37px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#797979;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:37px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:766px;
  top:144px;
  width:310px;
  height:66px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#797979;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:66px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:311px;
  top:277px;
  width:190px;
  height:57px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D4240D;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:57px;
}
#u42 {
  position:absolute;
  left:2px;
  top:16px;
  width:186px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:417px;
  top:592px;
  width:95px;
  height:23px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#6B6B6B;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:426px;
  top:610px;
  width:86px;
  height:19px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:521px;
  top:679px;
  width:300px;
  height:40px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#868686;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:417px;
  top:729px;
  width:95px;
  height:23px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#6B6B6B;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:444px;
  top:747px;
  width:68px;
  height:19px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:521px;
  top:828px;
  width:309px;
  height:40px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#868686;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:417px;
  top:879px;
  width:95px;
  height:23px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#6B6B6B;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:454px;
  top:897px;
  width:58px;
  height:19px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:521px;
  top:600px;
  width:200px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60 {
  position:absolute;
  left:521px;
  top:737px;
  width:200px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61 {
  position:absolute;
  left:521px;
  top:893px;
  width:200px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u62 {
  position:absolute;
  left:726px;
  top:600px;
  width:84px;
  height:25px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:726px;
  top:893px;
  width:84px;
  height:25px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u65 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:765px;
  top:75px;
  width:179px;
  height:43px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#545359;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:408px;
  top:427px;
  width:383px;
  height:40px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:40px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#797979;
  text-align:left;
}
#u69 {
  position:absolute;
  left:711px;
  top:477px;
  width:80px;
  height:24px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:943px;
  top:914px;
  width:49px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:1073px;
  top:914px;
  width:90px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1203px;
  top:914px;
  width:130px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:604px;
  top:88px;
  width:132px;
  height:132px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:132px;
}
#u78 {
  position:absolute;
  left:2px;
  top:58px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:521px;
  top:540px;
  width:300px;
  height:40px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#868686;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:765px;
  top:115px;
  width:226px;
  height:19px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:726px;
  top:736px;
  width:84px;
  height:25px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:266px;
  width:1680px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1680px;
  height:1px;
}
#u86 {
  position:absolute;
  left:0px;
  top:333px;
  width:1680px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1680px;
  height:1px;
}
#u87 {
  position:absolute;
  left:596px;
  top:273px;
  width:200px;
  height:63px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:63px;
}
#u88 {
  position:absolute;
  left:2px;
  top:24px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:601px;
  top:279px;
  width:190px;
  height:53px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D4240D;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:53px;
}
#u90 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:886px;
  top:273px;
  width:200px;
  height:63px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:63px;
}
#u92 {
  position:absolute;
  left:2px;
  top:24px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:891px;
  top:279px;
  width:190px;
  height:53px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D4240D;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:53px;
}
#u94 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1176px;
  top:274px;
  width:200px;
  height:62px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
}
#u96 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1181px;
  top:279px;
  width:190px;
  height:52px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D4240D;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:52px;
}
#u98 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1451px;
  top:274px;
  width:200px;
  height:62px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
}
#u100 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1456px;
  top:279px;
  width:190px;
  height:52px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D4240D;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:52px;
}
#u102 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:546px;
  top:277px;
  width:10px;
  height:57px;
}
#u103_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u103_end {
  position:absolute;
  left:-5px;
  top:40px;
  width:20px;
  height:18px;
}
#u103_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:57px;
}
#u104 {
  position:absolute;
  left:836px;
  top:277px;
  width:10px;
  height:57px;
}
#u104_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u104_end {
  position:absolute;
  left:-5px;
  top:40px;
  width:20px;
  height:18px;
}
#u104_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:57px;
}
#u105 {
  position:absolute;
  left:1126px;
  top:277px;
  width:10px;
  height:57px;
}
#u105_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u105_end {
  position:absolute;
  left:-5px;
  top:40px;
  width:20px;
  height:18px;
}
#u105_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:57px;
}
#u106 {
  position:absolute;
  left:1416px;
  top:277px;
  width:10px;
  height:57px;
}
#u106_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u106_end {
  position:absolute;
  left:-5px;
  top:40px;
  width:20px;
  height:18px;
}
#u106_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:57px;
}
#u107 {
  position:absolute;
  left:0px;
  top:272px;
  width:259px;
  height:66px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:66px;
}
#u108 {
  position:absolute;
  left:2px;
  top:25px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:35px;
  top:279px;
  width:190px;
  height:53px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D4240D;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:53px;
}
#u110 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:254px;
  top:277px;
  width:10px;
  height:57px;
}
#u111_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u111_end {
  position:absolute;
  left:-5px;
  top:40px;
  width:20px;
  height:18px;
}
#u111_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:57px;
}
#u112 {
  position:absolute;
  left:1059px;
  top:85px;
  width:66px;
  height:25px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u113 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:1059px;
  top:86px;
  width:66px;
  height:23px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#D4240D;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u115 {
  position:absolute;
  left:2px;
  top:3px;
  width:62px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:980px;
  top:85px;
  width:65px;
  height:25px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
}
#u117 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:980px;
  top:86px;
  width:65px;
  height:23px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#D4240D;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u119 {
  position:absolute;
  left:2px;
  top:3px;
  width:61px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:29px;
  top:363px;
  width:61px;
  height:37px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#797979;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:330px;
  top:349px;
  width:10px;
  height:651px;
}
#u122_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u122_end {
  position:absolute;
  left:-5px;
  top:634px;
  width:20px;
  height:18px;
}
#u122_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:651px;
}
#u123 {
  position:absolute;
  left:40px;
  top:420px;
  width:154px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6B6B6B;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:40px;
  top:440px;
  width:89px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:40px;
  top:490px;
  width:163px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6B6B6B;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:40px;
  top:510px;
  width:97px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:40px;
  top:560px;
  width:165px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6B6B6B;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:22px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:40px;
  top:580px;
  width:179px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:22px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:8px;
  top:627px;
  width:317px;
  height:10px;
}
#u135_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u135_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u136 {
  position:absolute;
  left:29px;
  top:658px;
  width:93px;
  height:37px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#797979;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:34px;
  top:713px;
  width:43px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#D4240D;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:112px;
  top:705px;
  width:110px;
  height:37px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
}
#u141 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:224px;
  top:705px;
  width:110px;
  height:37px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
}
#u143 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:8px;
  top:699px;
  width:317px;
  height:10px;
}
#u144_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u144_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u144_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u145 {
  position:absolute;
  left:105px;
  top:707px;
  width:10px;
  height:33px;
}
#u145_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u145_end {
  position:absolute;
  left:-5px;
  top:16px;
  width:20px;
  height:18px;
}
#u145_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:33px;
}
#u146 {
  position:absolute;
  left:217px;
  top:707px;
  width:10px;
  height:33px;
}
#u146_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u146_end {
  position:absolute;
  left:-5px;
  top:16px;
  width:20px;
  height:18px;
}
#u146_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:33px;
}
#u147 {
  position:absolute;
  left:148px;
  top:713px;
  width:37px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#D4240D;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:258px;
  top:713px;
  width:41px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#D4240D;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:8px;
  top:737px;
  width:317px;
  height:10px;
}
#u151_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u151_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u151_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u152 {
  position:absolute;
  left:95px;
  top:770px;
  width:143px;
  height:203px;
  overflow:hidden;
}
#u152_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u152_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:203px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:203px;
}
#u154 {
  position:absolute;
  left:2px;
  top:94px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u152_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
}
#u156 {
  position:absolute;
  left:2px;
  top:94px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u152_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
}
#u158 {
  position:absolute;
  left:2px;
  top:94px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u152_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
}
#u160 {
  position:absolute;
  left:2px;
  top:94px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:855px;
  top:349px;
  width:10px;
  height:651px;
}
#u161_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u161_end {
  position:absolute;
  left:-5px;
  top:634px;
  width:20px;
  height:18px;
}
#u161_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:651px;
}
#u162 {
  position:absolute;
  left:902px;
  top:363px;
  width:184px;
  height:37px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#797979;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:37px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:815px;
  top:602px;
  width:24px;
  height:22px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u165 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:815px;
  top:738px;
  width:24px;
  height:22px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u167 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:815px;
  top:895px;
  width:24px;
  height:22px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u169 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:987px;
  top:427px;
  width:50px;
  height:50px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u171 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:935px;
  top:480px;
  width:103px;
  height:23px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#6B6B6B;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:23px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:960px;
  top:498px;
  width:79px;
  height:19px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:1047px;
  top:488px;
  width:200px;
  height:25px;
}
#u176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u177 {
  position:absolute;
  left:1253px;
  top:488px;
  width:84px;
  height:25px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u178 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:1047px;
  top:428px;
  width:300px;
  height:40px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#868686;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:1341px;
  top:490px;
  width:24px;
  height:22px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u182 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:987px;
  top:578px;
  width:50px;
  height:50px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u184 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:931px;
  top:631px;
  width:107px;
  height:23px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#6B6B6B;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:23px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u187 {
  position:absolute;
  left:953px;
  top:649px;
  width:86px;
  height:19px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u189 {
  position:absolute;
  left:1047px;
  top:639px;
  width:200px;
  height:25px;
}
#u189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u190 {
  position:absolute;
  left:1253px;
  top:639px;
  width:84px;
  height:25px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u191 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:1047px;
  top:579px;
  width:300px;
  height:40px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#868686;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:1341px;
  top:641px;
  width:24px;
  height:22px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u195 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:902px;
  top:742px;
  width:260px;
  height:37px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#797979;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:37px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u198 {
  position:absolute;
  left:274px;
  top:858px;
  width:17px;
  height:28px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u199 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:41px;
  top:858px;
  width:17px;
  height:28px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u201 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:871px;
  top:702px;
  width:799px;
  height:10px;
}
#u202_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u202_end {
  position:absolute;
  left:782px;
  top:-5px;
  width:18px;
  height:20px;
}
#u202_line {
  position:absolute;
  left:0px;
  top:5px;
  width:799px;
  height:1px;
}
#u203 {
  position:absolute;
  left:470px;
  top:240px;
  width:740px;
  height:220px;
  opacity:0.9;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:220px;
}
#u204 {
  position:absolute;
  left:2px;
  top:102px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:507px;
  top:270px;
  width:235px;
  height:37px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#797979;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:37px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u207 {
  position:absolute;
  left:546px;
  top:336px;
  width:537px;
  height:27px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#6B6B6B;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:27px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  white-space:nowrap;
}
#u209 {
  position:absolute;
  left:1098px;
  top:337px;
  width:66px;
  height:25px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u210 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:1098px;
  top:338px;
  width:66px;
  height:23px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#D4240D;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u212 {
  position:absolute;
  left:2px;
  top:3px;
  width:62px;
  word-wrap:break-word;
}
