body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:1010px;
  width:1680px;
  height:40px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:40px;
}
#u2 {
  position:absolute;
  left:2px;
  top:12px;
  width:1676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:692px;
  top:1021px;
  width:297px;
  height:25px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D4240D;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:53px;
  color:#D7D7D7;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:53px;
}
#u7 {
  position:absolute;
  left:2px;
  top:19px;
  width:1676px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:23px;
  top:10px;
  width:117px;
  height:34px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#D4240D;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1466px;
  top:11px;
  width:200px;
  height:30px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:#F2F2F2;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#797979;
  text-align:left;
}
#u11 {
  position:absolute;
  left:1117px;
  top:-2px;
  width:190px;
  height:57px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#D4240D;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:57px;
}
#u12 {
  position:absolute;
  left:2px;
  top:18px;
  width:186px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1640px;
  top:16px;
  width:20px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1337px;
  top:10px;
  width:31px;
  height:31px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1052px;
  top:10px;
  width:31px;
  height:31px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:8px;
  top:705px;
  width:102px;
  height:37px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:37px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:306px;
  top:271px;
  width:200px;
  height:68px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:68px;
}
#u22 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1505px;
  top:811px;
  width:125px;
  height:125px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u24 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1355px;
  top:811px;
  width:125px;
  height:125px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u26 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1205px;
  top:811px;
  width:125px;
  height:125px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u28 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1055px;
  top:811px;
  width:125px;
  height:125px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u30 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:905px;
  top:811px;
  width:125px;
  height:125px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u32 {
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:376px;
  top:363px;
  width:135px;
  height:37px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#797979;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:37px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:766px;
  top:144px;
  width:310px;
  height:88px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#797979;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:88px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:311px;
  top:277px;
  width:190px;
  height:57px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D4240D;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:57px;
}
#u38 {
  position:absolute;
  left:2px;
  top:16px;
  width:186px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:765px;
  top:75px;
  width:195px;
  height:43px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#545359;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:43px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:408px;
  top:427px;
  width:383px;
  height:40px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:40px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#797979;
  text-align:left;
}
#u42 {
  position:absolute;
  left:711px;
  top:477px;
  width:80px;
  height:24px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:925px;
  top:914px;
  width:84px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:1073px;
  top:914px;
  width:90px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:1231px;
  top:914px;
  width:74px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:1397px;
  top:914px;
  width:41px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:1537px;
  top:882px;
  width:60px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:604px;
  top:88px;
  width:132px;
  height:132px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:132px;
}
#u55 {
  position:absolute;
  left:2px;
  top:58px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1561px;
  top:898px;
  width:12px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1535px;
  top:914px;
  width:64px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F2F2F2;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:765px;
  top:115px;
  width:226px;
  height:19px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:266px;
  width:1680px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1680px;
  height:1px;
}
#u63 {
  position:absolute;
  left:0px;
  top:333px;
  width:1680px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:1663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1680px;
  height:1px;
}
#u64 {
  position:absolute;
  left:596px;
  top:273px;
  width:200px;
  height:63px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:63px;
}
#u65 {
  position:absolute;
  left:2px;
  top:24px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:601px;
  top:279px;
  width:190px;
  height:53px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D4240D;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:53px;
}
#u67 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:886px;
  top:273px;
  width:200px;
  height:63px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:63px;
}
#u69 {
  position:absolute;
  left:2px;
  top:24px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:891px;
  top:279px;
  width:190px;
  height:53px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D4240D;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:53px;
}
#u71 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1176px;
  top:274px;
  width:200px;
  height:62px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
}
#u73 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1181px;
  top:279px;
  width:190px;
  height:52px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D4240D;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:52px;
}
#u75 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:1451px;
  top:274px;
  width:200px;
  height:62px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
}
#u77 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1456px;
  top:279px;
  width:190px;
  height:52px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D4240D;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:52px;
}
#u79 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:546px;
  top:277px;
  width:10px;
  height:57px;
}
#u80_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u80_end {
  position:absolute;
  left:-5px;
  top:40px;
  width:20px;
  height:18px;
}
#u80_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:57px;
}
#u81 {
  position:absolute;
  left:836px;
  top:277px;
  width:10px;
  height:57px;
}
#u81_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u81_end {
  position:absolute;
  left:-5px;
  top:40px;
  width:20px;
  height:18px;
}
#u81_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:57px;
}
#u82 {
  position:absolute;
  left:1126px;
  top:277px;
  width:10px;
  height:57px;
}
#u82_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u82_end {
  position:absolute;
  left:-5px;
  top:40px;
  width:20px;
  height:18px;
}
#u82_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:57px;
}
#u83 {
  position:absolute;
  left:1416px;
  top:277px;
  width:10px;
  height:57px;
}
#u83_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u83_end {
  position:absolute;
  left:-5px;
  top:40px;
  width:20px;
  height:18px;
}
#u83_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:57px;
}
#u84 {
  position:absolute;
  left:0px;
  top:272px;
  width:259px;
  height:66px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:66px;
}
#u85 {
  position:absolute;
  left:2px;
  top:25px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:35px;
  top:279px;
  width:190px;
  height:53px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#D4240D;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:53px;
}
#u87 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:254px;
  top:277px;
  width:10px;
  height:57px;
}
#u88_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u88_end {
  position:absolute;
  left:-5px;
  top:40px;
  width:20px;
  height:18px;
}
#u88_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:57px;
}
#u89 {
  position:absolute;
  left:1059px;
  top:85px;
  width:66px;
  height:25px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u90 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1059px;
  top:86px;
  width:66px;
  height:23px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#D4240D;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u92 {
  position:absolute;
  left:2px;
  top:3px;
  width:62px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:980px;
  top:85px;
  width:65px;
  height:25px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:980px;
  top:86px;
  width:65px;
  height:23px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#D4240D;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u96 {
  position:absolute;
  left:2px;
  top:3px;
  width:61px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:29px;
  top:363px;
  width:61px;
  height:37px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#797979;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:330px;
  top:349px;
  width:10px;
  height:651px;
}
#u99_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u99_end {
  position:absolute;
  left:-5px;
  top:634px;
  width:20px;
  height:18px;
}
#u99_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:651px;
}
#u100 {
  position:absolute;
  left:40px;
  top:420px;
  width:173px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6B6B6B;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:40px;
  top:440px;
  width:89px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:40px;
  top:490px;
  width:259px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6B6B6B;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:40px;
  top:510px;
  width:132px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:40px;
  top:560px;
  width:215px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6B6B6B;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:22px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:40px;
  top:580px;
  width:136px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:8px;
  top:627px;
  width:317px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u113 {
  position:absolute;
  left:29px;
  top:658px;
  width:93px;
  height:37px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#797979;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:34px;
  top:713px;
  width:43px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#D4240D;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:112px;
  top:705px;
  width:110px;
  height:37px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:224px;
  top:705px;
  width:110px;
  height:37px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
}
#u120 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:8px;
  top:699px;
  width:317px;
  height:10px;
}
#u121_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u121_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u122 {
  position:absolute;
  left:105px;
  top:707px;
  width:10px;
  height:33px;
}
#u122_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u122_end {
  position:absolute;
  left:-5px;
  top:16px;
  width:20px;
  height:18px;
}
#u122_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:33px;
}
#u123 {
  position:absolute;
  left:217px;
  top:707px;
  width:10px;
  height:33px;
}
#u123_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u123_end {
  position:absolute;
  left:-5px;
  top:16px;
  width:20px;
  height:18px;
}
#u123_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:33px;
}
#u124 {
  position:absolute;
  left:148px;
  top:713px;
  width:37px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#D4240D;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:258px;
  top:713px;
  width:41px;
  height:22px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#D4240D;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:8px;
  top:737px;
  width:317px;
  height:10px;
}
#u128_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end {
  position:absolute;
  left:300px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line {
  position:absolute;
  left:0px;
  top:5px;
  width:317px;
  height:1px;
}
#u129 {
  position:absolute;
  left:95px;
  top:770px;
  width:143px;
  height:203px;
  overflow:hidden;
}
#u129_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u129_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:203px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:203px;
}
#u131 {
  position:absolute;
  left:2px;
  top:94px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u129_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:203px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:203px;
}
#u133 {
  position:absolute;
  left:2px;
  top:94px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u129_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:203px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:203px;
}
#u135 {
  position:absolute;
  left:2px;
  top:94px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u129_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:203px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:203px;
}
#u137 {
  position:absolute;
  left:2px;
  top:94px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u129_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
}
#u139 {
  position:absolute;
  left:2px;
  top:94px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u129_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
}
#u141 {
  position:absolute;
  left:2px;
  top:94px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u129_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:203px;
}
#u143 {
  position:absolute;
  left:2px;
  top:94px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:855px;
  top:349px;
  width:10px;
  height:651px;
}
#u144_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u144_end {
  position:absolute;
  left:-5px;
  top:634px;
  width:20px;
  height:18px;
}
#u144_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:651px;
}
#u145 {
  position:absolute;
  left:902px;
  top:363px;
  width:184px;
  height:37px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#797979;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:37px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:987px;
  top:427px;
  width:50px;
  height:50px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u148 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:935px;
  top:480px;
  width:103px;
  height:23px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#6B6B6B;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:23px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:960px;
  top:498px;
  width:79px;
  height:19px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:1047px;
  top:488px;
  width:200px;
  height:25px;
}
#u153_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u154 {
  position:absolute;
  left:1253px;
  top:488px;
  width:84px;
  height:25px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u155 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:1047px;
  top:428px;
  width:300px;
  height:40px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#868686;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:1341px;
  top:490px;
  width:24px;
  height:22px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u159 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:987px;
  top:578px;
  width:50px;
  height:50px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u161 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:931px;
  top:631px;
  width:107px;
  height:23px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#6B6B6B;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:23px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:953px;
  top:649px;
  width:86px;
  height:19px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:1047px;
  top:639px;
  width:200px;
  height:25px;
}
#u166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u167 {
  position:absolute;
  left:1253px;
  top:639px;
  width:84px;
  height:25px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u168 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:1047px;
  top:579px;
  width:300px;
  height:40px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#868686;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:1341px;
  top:641px;
  width:24px;
  height:22px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u172 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:902px;
  top:742px;
  width:260px;
  height:37px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#797979;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:37px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u175 {
  position:absolute;
  left:274px;
  top:858px;
  width:17px;
  height:28px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u176 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:41px;
  top:858px;
  width:17px;
  height:28px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u178 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:871px;
  top:702px;
  width:799px;
  height:10px;
}
#u179_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u179_end {
  position:absolute;
  left:782px;
  top:-5px;
  width:18px;
  height:20px;
}
#u179_line {
  position:absolute;
  left:0px;
  top:5px;
  width:799px;
  height:1px;
}
#u180 {
  position:absolute;
  left:461px;
  top:722px;
  width:50px;
  height:50px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u181 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:408px;
  top:775px;
  width:103px;
  height:23px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#6B6B6B;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:23px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:426px;
  top:793px;
  width:86px;
  height:19px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:521px;
  top:868px;
  width:200px;
  height:25px;
}
#u186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#797979;
  text-align:left;
}
#u187 {
  position:absolute;
  left:726px;
  top:868px;
  width:84px;
  height:25px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u188 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:521px;
  top:723px;
  width:300px;
  height:44px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:815px;
  top:870px;
  width:24px;
  height:22px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u192 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:521px;
  top:779px;
  width:30px;
  height:30px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u194 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:561px;
  top:777px;
  width:250px;
  height:19px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:19px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u197 {
  position:absolute;
  left:561px;
  top:794px;
  width:66px;
  height:17px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#949494;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u199 {
  position:absolute;
  left:521px;
  top:821px;
  width:30px;
  height:30px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u200 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:561px;
  top:819px;
  width:281px;
  height:19px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:19px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u203 {
  position:absolute;
  left:561px;
  top:836px;
  width:63px;
  height:17px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#949494;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u205 {
  position:absolute;
  left:461px;
  top:531px;
  width:50px;
  height:50px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u206 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:408px;
  top:584px;
  width:103px;
  height:23px;
  font-family:'Marvel-Bold', 'Marvel Bold', 'Marvel';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#6B6B6B;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:23px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u209 {
  position:absolute;
  left:433px;
  top:602px;
  width:79px;
  height:19px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:521px;
  top:633px;
  width:200px;
  height:25px;
}
#u211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#797979;
  text-align:left;
}
#u212 {
  position:absolute;
  left:726px;
  top:633px;
  width:84px;
  height:25px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u213 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:521px;
  top:532px;
  width:300px;
  height:44px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#868686;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:815px;
  top:635px;
  width:24px;
  height:22px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u217 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:521px;
  top:588px;
  width:30px;
  height:30px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u219 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:561px;
  top:586px;
  width:62px;
  height:19px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:561px;
  top:603px;
  width:66px;
  height:17px;
  font-family:'Marvel-Regular', 'Marvel';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#949494;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
